@model IEnumerable<Outfit>

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <p>
        Find by Outfit Name: @Html.TextBox("search")
        <input id="form-styles" type="submit" value="Search"/>
    </p>
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Rarity</th>
        <th>Category</th>
    </tr>

    @foreach (var outfit in @Model)
    {
        <tr>
            <td><a id="anchors-fixed" asp-controller="Home" asp-action="ViewOutfit" asp-route-id="@outfit.OutfitID">@outfit.OutfitID</a></td>
            <td>@outfit.Name</td>
            <td>@outfit.Rarity</td>
            <td>@outfit.Category</td>
        </tr>
    }

</table>