@model IEnumerable<Outfit>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Rarity</th>
        <th>Category</th>
    </tr>

    @foreach (var outfit in @Model)
    {
        <tr>
            <td><a asp-controller="Home" asp-action="ViewOutfit" asp-route-id="@outfit.OutfitID">@outfit.OutfitID</a></td>
            <td>@outfit.Name</td>
            <td>@outfit.Rarity</td>
            <td>@outfit.Category</td>
        </tr>
    }

</table>